<div class="login-container">
  <mat-card class="formulario-container">
    <div class="avatar-container">
      <mat-icon class="avatar-icon">lock_reset</mat-icon>
    </div>
    <mat-card-title class="titulo">Restablecer Contraseña</mat-card-title>
    <mat-card-subtitle class="subtitulo">
      Ingresa tu nueva contraseña y confírmala
    </mat-card-subtitle>

    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="submitReset()" class="login-form">
        <!-- Token -->
        <div class="form-row spaced">
          <mat-form-field appearance="outline" class="full-width form-field">
            <mat-label>Token</mat-label>
            <input matInput formControlName="token" placeholder="Código de recuperación" required />
            <mat-error *ngIf="resetForm.get('token')?.hasError('required')">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Nueva Contraseña -->
        <div class="form-row spaced">
          <mat-form-field appearance="outline" class="full-width form-field">
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput formControlName="newPassword" type="password" placeholder="********" required />
            <mat-error *ngIf="resetForm.get('newPassword')?.hasError('required')">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Confirmar Contraseña -->
        <div class="form-row spaced">
          <mat-form-field appearance="outline" class="full-width form-field">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="********" required />
            <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">
              Este campo es obligatorio
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Botón de Restablecimiento -->
        <div class="form-actions">
          <button mat-raised-button color="primary" type="submit" class="spaced login-button" 
            [disabled]="isLoading || resetForm.invalid">
            Restablecer Contraseña
          </button>
        </div>
      </form>
    </mat-card-content>

    <!-- Barra de progreso -->
    <div class="progress-bar-container">
      <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
  </mat-card>
</div>
