  <div class="container" style="background: rgb(128, 0, 128); height: 100vh; display: flex; flex-direction: column; gap: 30px; align-items: center; justify-content: center; color: rgb(233, 238, 245); font-family: 'Open Sans', sans-serif;">
    <img src="img/img1.svg" alt="Error 404" style="width: 50%;">
    <h1>La página que ha solicitado no se encuentra disponible</h1>
    <div class="boton">
      <button (click)="goBack()" style="padding: 13px 30px; border-radius: 15px; border: none; background: rgb(5, 129, 245); color: white;">Volver atrás</button>
    </div>
  </div>
  