.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(53, 53, 251, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.formulario-container {
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 16px #c2c5d3, -10px -10px 46px #f8faff;
  text-align: center;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-icon {
  font-size: 48px;
  color: #3f51b5;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Ajusta el tamaño del contenedor blanco */
  height: 70px; /* Ajusta el tamaño del contenedor blanco */
  box-sizing: border-box;
}

.titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3f51b5;
}

.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.login-button {
  background-color: #3f51b5;
  color: white;
}

.form-field {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.spaced {
  margin-top: 10px;
}

